services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: music-recommender-backend
    volumes:
      - ./backend/src:/app/src
    env_file:
      - ./backend/.env
    ports:
      - "8000:8000"
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: music-recommender-frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  music_db:
